<a href="https://colab.research.google.com/github/dtk1025/434hausme/blob/main/haus_me_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Ingest

In [14]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mohitgupta-omg/Kaggle-California-Housing-Prices/master/Data/housing.csv")
df.head(100)

    longitude  latitude  ...  median_house_value  ocean_proximity
0     -122.23     37.88  ...            452600.0         NEAR BAY
1     -122.22     37.86  ...            358500.0         NEAR BAY
2     -122.24     37.85  ...            352100.0         NEAR BAY
3     -122.25     37.85  ...            341300.0         NEAR BAY
4     -122.25     37.85  ...            342200.0         NEAR BAY
..        ...       ...  ...                 ...              ...
95    -122.26     37.80  ...            130000.0         NEAR BAY
96    -122.26     37.82  ...            183800.0         NEAR BAY
97    -122.26     37.81  ...            125000.0         NEAR BAY
98    -122.26     37.82  ...            170000.0         NEAR BAY
99    -122.26     37.82  ...            193100.0         NEAR BAY

[100 rows x 10 columns]

## EDA

In [15]:
df.shape

(20640, 10)

In [16]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [17]:
#import seaborn as sns
#sns.scatterplot(x="median_house_value", y="total_bedrooms", hue="total_bedrooms", size="total_bedrooms", data=df)

In [18]:
age30below_df = df.loc[df["housing_median_age"] <30].sort_values(by=["median_house_value", "median_income"], ascending=False)
age30below_df.head(10)

       longitude  latitude  ...  median_house_value  ocean_proximity
8846     -118.40     34.10  ...            500001.0        <1H OCEAN
10673    -117.85     33.62  ...            500001.0        <1H OCEAN
10760    -117.87     33.62  ...            500001.0        <1H OCEAN
11520    -118.06     33.72  ...            500001.0       NEAR OCEAN
15241    -117.23     32.99  ...            500001.0       NEAR OCEAN
18052    -121.98     37.25  ...            500001.0        <1H OCEAN
10483    -117.68     33.59  ...            500001.0        <1H OCEAN
9370     -122.52     37.92  ...            500001.0         NEAR BAY
9811     -121.94     36.57  ...            500001.0       NEAR OCEAN
5259     -118.51     34.11  ...            500001.0        <1H OCEAN

[10 rows x 10 columns]

In [19]:
"""
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(15,5))
ax = sns.lmplot(x="median_house_value", y="total_bedrooms",
                height=3.5,
                col="ocean_proximity",
                col_wrap=5,
                hue="ocean_proximity",
                palette="Set2",
                data=age30below_df)
ax.fig.subplots_adjust(wspace=.2)
"""

'\nimport seaborn as sns\nimport matplotlib.pyplot as plt\n\nplt.figure(figsize=(15,5))\nax = sns.lmplot(x="median_house_value", y="total_bedrooms",\n                height=3.5,\n                col="ocean_proximity",\n                col_wrap=5,\n                hue="ocean_proximity",\n                palette="Set2",\n                data=age30below_df)\nax.fig.subplots_adjust(wspace=.2)\n'

In [20]:
1

1

##Modeling

###classification algorithm

classification algorithm b

In [21]:
1

1

##Conclusion:

In [22]:
1

1